@mixin color-scheme(
  $page-background,
  $primary-text,
  $footer-background,
  $footer-text,
  $headings-color,
  $link-underline,
  $link-text,
  $slider-color,
  $slider-emoji
) {
  --page-background: #{$page-background};
  --primary-text: #{$primary-text};
  --primary-shadow: #{mix(#14181d, $page-background, 50%)};
  --footer-background: #{$footer-background};
  --footer-text: #{$footer-text};
  --headings-color: #{$headings-color};
  --link-underline: #{$link-underline};
  --link-text: #{$link-text};
  --slider-color: #{$slider-color};

  .slider {
    background-color: $slider-color;
    box-shadow: 0 0 0 1px $primary-text;

    &::after {
      position: absolute;
      content: $slider-emoji;
      text-shadow: none;
      text-align: center;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      display: inline-block;
      height: 1.5rem;
      width: 1.5rem;
      left: 3px;
      bottom: 4px;
      line-height: 1.5rem;
    }
  }

  #mobile-home-img::after {
    background: radial-gradient(transparent 30%, $page-background);

  }

  #scroll-to-top {
    background-color: adjust-color($page-background, $saturation: 15%, $lightness: 4%);
    box-shadow: 1.5px 1.5px 2px 2px darken($page-background, 3%);
  }

  .selected {
    box-shadow: 0 0 5px 5px var(--primary-shadow);
  }
}

:root, :root.dark-theme {
  @include color-scheme(
                  #222831,
                  #dcdcdc,
                  rgb(53, 99, 146, 0.1),
                  #fafafa,
                  #d7f3f7,
                  #d7d7d7,
                  #b8c6c8,
                  invert(#ccc),
                  "🌚",
  )
}

:root.light-theme {
  @include color-scheme(
                  #d7f3f7,
                  mix(mix(#222831, #d7f3f7, 70%), black, 50%),
                  mix(darken(#d7f3f7, 5%), #14181d, 95%),
                  black,
                  mix(mix(#222831, #d7f3f7, 40%), black, 30%),
                  invert(#d7d7d7),
                  black,
                  #2196f3,
                  "🌞",
  );

  #socials {
    filter: invert(90%);
  }

  #resume-sec > h1 > a > svg {
    filter: invert(90%);
  }

  body {
    text-shadow: none !important;
  }
}

body {
  background: var(--page-background);
  color: var(--primary-text);
}

div.nav {
  border-right: solid var(--primary-text);
}

header nav {
  border-bottom: solid var(--primary-text);
}

footer {
  background-color: var(--footer-background);
  color: var(--footer-text);
}

h1,
h2,
h3 {
  border-bottom: double var(--primary-text);
}

h1,
h2,
h3,
h4,
.faux-h1 {
  a {
    color: var(--headings-color);
  }

  color: var(--headings-color);
}

nav {
  a {
    color: var(--headings-color);
  }
}

a {
  color: var(--link-text);
}

hr {
  &::after {
    background: var(--page-background);
    color: var(--primary-text);
  }
}
