<!-- components/project.njk -->
<a class="project" href="{{ urlToProject }}">
    <h3>{{ projectName }}</h3>
    <p class="dates">{{ durationString }}</p>
    <p class="description">{{ longDescription }}</p>
    <p class="languages">{{ languageString }}</p>
</a>
