---
title: David's personal site
layout: "base.njk"
styles:
- "homepage"
scripts:
- "homepage"
excludeHeader: true
excludeSwitch: true
---

<section id="front">
    <div class="container">
        <div class="heading">
            <h1><a href="#" title="Home">David Tejuosho</a></h1>
            <p><em>Student of Computer Science</em></p>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="#about-me" title="and how to contact me">Who am I?</a>
                </li>
                <li>
                    <a href="#resume-sec" title="all my impressive endeavours"
                    >My Resume</a
                    >
                </li>
                <li>
                    <a href="#stuff-i-like" title="You need to see this!">Stuff I like</a>
                </li>
            </ul>
        </nav>
        <div id="mobile-home-img">
            <img src="icons/homepage-image.png" alt=""/>
        </div>
        <section id="socials">
            <a
                    href="https://github.com/DavidTeju"
                    target="_blank"
                    rel="noopener noreferrer"
            ><img src="/icons/GitHub-icon.svg" alt="Image of GitHub Icon"
                /></a>
            <a
                    href="https://twitter.com/DavidTejuo"
                    target="_blank"
                    rel="noopener noreferrer"
            ><img src="/icons/Twitter-icon.svg" alt="Image of Twitter Icon"
                /></a>
            <a
                    href="https://www.linkedin.com/in/david-tejuosho/"
                    target="_blank"
                    rel="noopener noreferrer"
            ><img src="/icons/LinkedIn-icon.svg" alt="Image of LinkedIn Icon"
                /></a>
        </section>
        <label class="color-switch">
            <input type="checkbox" id="color-switch" checked/>
            <span class="slider round"></span>
        </label>
    </div>
</section>

<section id="about-me">
    <h1>About me & Contact info</h1>
    <h2>Who am I?!</h2>
    <p style="margin-bottom: 1em">
        My name is David Tejuosho, and I'm currently getting ready to start full time as a Software Engineer at Microsoft.
        Over the two months immediately following my graduation, I got to explore Utah, Colorado, New Mexico and Arizona (with some California sprinked in).
        Still brimming with that youthful vigor so will be locking in and grinding hard at work while playing around with 
        personal projects to see what I can build while my knees still work. In my 4 years of college, I got to complete 
        internships with Microsoft, on the Tasks Platform team, at Benchling, on the Data Input team, with
	<span class="google"><span>G</span><span>o</span><span>o</span><span>g</span><span>l</span><span>e</span></span> 
	on the Classroom Assignment Workflow team, and at Johnson & Johnson on R&D's intelligent automation team.

        I fancy myself to be an idea guy but won't hesitate to jump on a team with a remarkable idea. When I'm 
	not crushing under the weight of work, I love rock climbing, hiking and cycling, and watching 
	<a href="https://www.youtube.com/@Exurb1a">Exurb1a on YouTube.</a>! Once upon a time, 
	I used to do a lot of writing. I'm working on getting back into it :) so look out for the substack
    </p>
    <h2>Contact me</h2>
    <ul>
        <li><a href="mailto:david@davidteju.dev">Email me!</a></li>
        <li>
            <a href="https://www.linkedin.com/in/david-tejuosho/"
            >Connect on LinkedIn!</a
            >
        </li>
    </ul>
</section>
<section id="resume-sec">
    <h1>
        My Resume
        <a href="/files/Resume.pdf" class="download-link" title="download resume">
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="download-resume"
                    width="44"
                    height="44"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="#cacaca"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
            >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M14 3v4a1 1 0 0 0 1 1h4"/>
                <path
                        d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"
                />
                <line x1="12" y1="11" x2="12" y2="17"/>
                <polyline points="9 14 12 17 15 14"/>
            </svg>
        </a>
    </h1>
    <div id="resume">
        <section class="resume-header">
            <div class="faux-h1">David Tejuosho</div>
            <div class="contact subheading">
                <a href="tel:6787546641">(678) 754 - 6641</a>
                <a href="mailto:tejuoshodavid@gmail.com" title="Email me :)"
                >tejuoshodavid@gmail.com</a
                >
                <a
                        href="https://github.com/DavidTeju"
                        title="My Github :)"
                        target="_blank"
                        rel="noopener noreferrer"
                >GitHub.com/DavidTeju</a
                >
            </div>
        </section>

        <section id="activities">
            {% markdown %}
                {% include 'experience.md' %}
            {% endmarkdown %}
        </section>

        <section id="projects">
            <div>
                <h2>Projects</h2>
                <hr/>
            </div>
            <div id="projects-display">

                <!-- projects.njk -->
                {% for project in collections.projects %}
                    <a class="project" href="{{ project.urlToProject }}">
                        <h3>{{ project.projectName }}</h3>
                        <p class="dates">{{ project.durationString }}</p>
                        <p class="description">{{ project.longDescription }}</p>
                        <p class="languages">{{ project.languageString }}</p>
                    </a>
                {% endfor %}

            </div>

        </section>

        <section id="honours">

            {% markdown %}
                {% include 'awards.md' %}
            {% endmarkdown %}
            <!-- <li>
                Questbridge National College Match Finalist
                <ul>
                    <li>
                        Finalist for a nationally recognized program that connects
                        low-income students to the top Universities in the country
                    </li>
                </ul>
            </li>
            <li>
                International Mathematics Olympiad
                <ul>
                    <li>
                        Achieved sixth place at the 2015-2016 Mathematics Olympiad
                        state qualifiers
                    </li>
                    <li>
                        Represented the state with 9 other students at the national
                        level
                    </li>
                </ul>
            </li>
            <li>
                Cowbellpedia Senior Secondary Schools Mathematics TV Quiz Show
                <ul>
                    <li>
                        Placed second in the 2017-2018 Cowbellpedia Mathematics
                        competition at the state level
                    </li>
                </ul>
            </li> -->
            </ul>
        </section>

        <!-- <section>
            <h2>Education</h2>
            <hr />

            <div class="sub-education">
                <div class="subheading">
                    <h3>Dominican University</h3>
                    <h3>River Forest</h3>
                </div>
                <div class="subheading">
                    <p title="and computer engineering (hopefully)">
                        Bachelor of Science in Mathematics and Computer Science
                    </p>
                    <p>expected May 2025</p>
                </div>
                <ul>
                    <li>
                        Presidential Scholarship, Graham Scholarship, Pillars
                        Scholarship
                    </li>
                    <li>
                        Relevant Coursework: Data Structures, Computer Programming,
                        Web Development I
                    </li>
                    <li>
                        <strong>GPA:</strong> 3.33/4.0; <strong>SAT:</strong> 1530
                    </li>
                </ul>
            </div>
        </section> -->
    </div>
</section>
<section id="stuff-i-like">
    <h1>Stuff I Like</h1>
    <section>
        <h2>Writing I recommend</h2>
        <ul>
            <li>
                <a href="https://www.astralcodexten.com/p/the-colors-of-her-coat"
                >The Colors of Her Coat
                    <span class="context">This writing feels spiritual. It is</span></a
                >
            </li>
            <li>
                <a href="https://www.slowboring.com/p/the-crisis-of-expertise-is-about"
                >The Crisis of Expertise is About Values</a>
            </li>
        </ul>
    </section>
</section>
