---
title: David's personal site
layout: "base.njk"
styles:
- "homepage"
scripts:
- "homepage"
excludeHeader: true
excludeSwitch: true
---

<section id="front">
    <div class="container">
        <div class="heading">
            <h1><a href="#" title="Home">David Tejuosho</a></h1>
            <p><em>Student of Computer Science</em></p>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="#about-me" title="and how to contact me">Who am I?</a>
                </li>
                <li>
                    <a href="#resume-sec" title="all my impressive endeavours"
                    >My Resume</a
                    >
                </li>
                <li>
                    <a href="#stuff-i-like" title="You need to see this!">Stuff I like</a>
                </li>
            </ul>
        </nav>
        <div id="mobile-home-img">
            <img src="icons/homepage-image.png" alt=""/>
        </div>
        <section id="socials">
            <a
                    href="https://github.com/DavidTeju"
                    target="_blank"
                    rel="noopener noreferrer"
            ><img src="/icons/GitHub-icon.svg" alt="Image of GitHub Icon"
                /></a>
            <a
                    href="https://twitter.com/DavidTejuo"
                    target="_blank"
                    rel="noopener noreferrer"
            ><img src="/icons/Twitter-icon.svg" alt="Image of Twitter Icon"
                /></a>
            <a
                    href="https://www.linkedin.com/in/david-tejuosho/"
                    target="_blank"
                    rel="noopener noreferrer"
            ><img src="/icons/LinkedIn-icon.svg" alt="Image of LinkedIn Icon"
                /></a>
        </section>
        <label class="color-switch">
            <input type="checkbox" id="color-switch" checked/>
            <span class="slider round"></span>
        </label>
    </div>
</section>

<section id="about-me">
    <h1>About me & Contact info</h1>
    <h2>Who am I?!</h2>
    <p style="margin-bottom: 1em">
        My name is David Tejuosho, and I'm a junior studying Computer Science. I
        love learning new things and solving problems/challenges. I previously completed internships at

        <span class="google">
			<span>G</span><span>o</span><span>o</span><span>g</span><span>l</span
            ><span>e</span></span
        > on the Classroom Assignment Workflow team and at Johnson & Johnson on R&D's intelligent
        automation team.
        I fancy myself to be an idea guy but won't hesitate to jump on the
        bandwagon/team of someone with a remarkable idea. When I'm not slaving away
        at my screen or doing dumb stuff with friends, I love writing (I wrote with my school's newspaper and
        <a href="https://www.theteenmagazine.com/writers/david-tejuosho">
            The Teen Magazine</a
        >), running (I ran D3 cross country my freshman year), climbing, and watching <a
                href="https://www.youtube.com/@Exurb1a">Exurb1a on YouTube.</a>
    </p>
    <h2>Contact me</h2>
    <ul>
        <li><a href="mailto:david@davidteju.dev">Email me!</a></li>
        <li>
            <a href="https://www.linkedin.com/in/david-tejuosho/"
            >Connect on LinkedIn!</a
            >
        </li>
    </ul>
</section>
<section id="resume-sec">
    <h1>
        My Resume
        <a href="/files/Resume.pdf" class="download-link" title="download resume">
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="download-resume"
                    width="44"
                    height="44"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="#cacaca"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
            >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M14 3v4a1 1 0 0 0 1 1h4"/>
                <path
                        d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"
                />
                <line x1="12" y1="11" x2="12" y2="17"/>
                <polyline points="9 14 12 17 15 14"/>
            </svg>
        </a>
    </h1>
    <div id="resume">
        <section class="resume-header">
            <div class="faux-h1">David Tejuosho</div>
            <div class="contact subheading">
                <a href="tel:6787546641">(678) 754 - 6641</a>
                <a href="mailto:tejuoshodavid@gmail.com" title="Email me :)"
                >tejuoshodavid@gmail.com</a
                >
                <a
                        href="https://github.com/DavidTeju"
                        title="My Github :)"
                        target="_blank"
                        rel="noopener noreferrer"
                >GitHub.com/DavidTeju</a
                >
            </div>
        </section>

        <section id="activities">
            {% markdown %}
                {% include 'experience.md' %}
            {% endmarkdown %}
        </section>

        <section id="projects">
            <div>
                <h2>Projects</h2>
                <hr/>
            </div>
            <div id="projects-display">

                <!-- projects.njk -->
                {% for project in collections.projects %}
                    <a class="project" href="{{ project.urlToProject }}">
                        <h3>{{ project.projectName }}</h3>
                        <p class="dates">{{ project.durationString }}</p>
                        <p class="description">{{ project.longDescription }}</p>
                        <p class="languages">{{ project.languageString }}</p>
                    </a>
                {% endfor %}

            </div>

        </section>

        <section id="honours">

            {% markdown %}
                {% include 'awards.md' %}
            {% endmarkdown %}
            <!-- <li>
                Questbridge National College Match Finalist
                <ul>
                    <li>
                        Finalist for a nationally recognized program that connects
                        low-income students to the top Universities in the country
                    </li>
                </ul>
            </li>
            <li>
                International Mathematics Olympiad
                <ul>
                    <li>
                        Achieved sixth place at the 2015-2016 Mathematics Olympiad
                        state qualifiers
                    </li>
                    <li>
                        Represented the state with 9 other students at the national
                        level
                    </li>
                </ul>
            </li>
            <li>
                Cowbellpedia Senior Secondary Schools Mathematics TV Quiz Show
                <ul>
                    <li>
                        Placed second in the 2017-2018 Cowbellpedia Mathematics
                        competition at the state level
                    </li>
                </ul>
            </li> -->
            </ul>
        </section>

        <!-- <section>
            <h2>Education</h2>
            <hr />

            <div class="sub-education">
                <div class="subheading">
                    <h3>Dominican University</h3>
                    <h3>River Forest</h3>
                </div>
                <div class="subheading">
                    <p title="and computer engineering (hopefully)">
                        Bachelor of Science in Mathematics and Computer Science
                    </p>
                    <p>expected May 2025</p>
                </div>
                <ul>
                    <li>
                        Presidential Scholarship, Graham Scholarship, Pillars
                        Scholarship
                    </li>
                    <li>
                        Relevant Coursework: Data Structures, Computer Programming,
                        Web Development I
                    </li>
                    <li>
                        <strong>GPA:</strong> 3.33/4.0; <strong>SAT:</strong> 1530
                    </li>
                </ul>
            </div>
        </section> -->
    </div>
</section>
<section id="stuff-i-like">
    <h1>Stuff I Like</h1>
    <section>
        <h2>Stuff that's just really useful</h2>
        <ul>
            <li>
                <a href="https://tinywow.com/"
                >Tools for everything you will ever need to do with files</a
                >
            </li>
            <li>
                <a href="https://10minutemail.com/"
                >10 Minute Disposable Mail
                    <span class="context">spam spam go away</span></a
                >
            </li>
            <li>
                <a href="https://musclewiki.com/"
                >Workouts and stretches for every muscle
                    <span class="context">male or female</span></a
                >
            </li>
            <li>
                <a href="https://www.when2meet.com/"
                >Plan meetings with synchronized schedules</a
                >
            </li>
            <li>
                <a href="https://tosdr.org/"
                >Summarize terms of service
                    <span class="context"
                    >cause, be honest. nobody reads the full thing</span
                    ></a
                >
            </li>
            <li>
                <a href="https://www.remove.bg/">Quick image background remover</a>
            </li>
            <li>
                <a href="https://regex101.com/"
                >RegEx101
                    <span class="context">Almost makes regex bearable</span>
                </a>
            </li>
            <li>
                <a href="https://excalidraw.com/"
                >Minimal online drawing app
                    <span class="context">that's actually clean</span></a
                >
            </li>
            <li>
                <a href="https://thewebtoolbox.cc/">The Web ToolBox</a>
            </li>
            <li>
                <a href="https://devdocs.io/"
                >DevDocs
                    <span class="context"
                    >all the documentation you need in one place</span
                    ></a
                >
            </li>
        </ul>
    </section>
    <!--------------------------------------------------------------------------------->
    <section>
        <h2>Stuff that makes me go "where have you been all my life"</h2>
        <ul>
            <li>
                <a href="https://whatthefuckshouldimakefordinner.com/"
                >What the f should I make for dinner?
                    <span class="context">with recipes and vegan options</span></a
                >
            </li>
            <li>
                <a href="https://www.algorithmexamples.com/"
                >Algorithm Examples
                    <span class="context">my one-stop shop for algorithms</span></a
                >
            </li>
            <li>
                <a
                        href="https://getbootstrap.com/docs/5.1/examples/cheatsheet/#scrollspyHeading5"
                >Bootstrap cheatsheet
                    <span class="context"
                    >The day I became a man was the day I learned everyone uses
						bootstrap</span
                    ></a
                >
            </li>
            <li>
                <a href="https://docs.emmet.io/"
                >Emmet Toolkit
                    <span class="context">Once you go Emmet, you can't go back</span></a
                >
            </li>
        </ul>
    </section>
    <!--------------------------------------------------------------------------------->
    <section>
        <h2>Stuff that makes me go "hmm. that's pretty cool"</h2>
        <ul>
            <li>
                <a href="https://thispersondoesnotexist.com/"
                >This person does not exist</a
                >
            </li>
            <li>
                <a href="https://radio.garden/visit/accra/K2VIX0Q7">Global Radio</a>
            </li>
            <li>
                <a href="https://www.atlasobscura.com/"
                >Hidden wonders <span class="context">for when you travel</span></a
                >
            </li>
        </ul>
    </section>
    <!--------------------------------------------------------------------------------->
    <!-- <section>
        <h2>Stuff that changed my life (Don't ask me how)</h2>
        <ul>
            <li>
                <a href="https://www.imdb.com/title/tt2404233/">Gods of Egypt</a>
            </li>
            <li>
                <a href="https://www.imdb.com/title/tt0454876/">Life of Pi</a>
            </li>
        </ul>
    </section> -->
    <!--------------------------------------------------------------------------------->
    <section>
        <h2>Stuff that taught me a lot</h2>
        <ul>
            <li>
                <a
                        href="https://stackoverflow.com/questions/869033/how-do-i-copy-an-object-in-java"
                >How do I copy an object in java?
                    <span class="context"
                    >learned a lot about object mutability and references in java</span
                    ></a
                >
            </li>
            <li>
                <a href="https://web.dev/fast/#optimize-your-images">Fast Load Times</a>
            </li>
            <li>
                <a href="https://rogerdudler.github.io/git-guide/"
                >A simple guide to Git</a
                >
            </li>
            <li>
                <a href="https://stackoverflow.com/questions/57483/what-are-the-differences-between-a-pointer-variable-and-a-reference-variable">
                    C++ is really not Java
                </a>
            </li>
        </ul>
    </section>
</section>
