---
title: Tool highway
layout: "base.njk"
---

<ul>
	<li>
		<a
				href="https://rogerdudler.github.io/git-guide/files/git_cheat_sheet.pdf"
		>Git Cheat Sheet</a
		>
	</li>
	<li><a href="https://thewebtoolbox.cc/">The ultimate toolbox</a></li>
	<li><a href="https://regex101.com/">RegEx 101</a></li>
	<li>
		<a
				href="https://regexlib.com/(X(1)A(-02lFGYXPHKQvEU-DnaVXEBR8HMyUHBmXJVZvr_85aHSrOGjPG6lfntx-YfxA5OMsLF1shKMfr5iwh9vaNf44XCSTgDb7JBHrkS9cLOY-U_I3O0SermsOS2IcAMAbOoQeKv7z08SKZ5E0Vw0WFRg4-rPvXieOir5z4lrcNofNnAwQ4RG5telUIkx9-3gtNMV0))/Default.aspx"
		>RegEx Library</a
		>
	</li>
	<li>
		<a href="https://perchance.org/welcome"
		>Create randomized generators</a
		>
	</li>
	<li><a href="https://devdocs.io/">DevDocs</a></li>
	<li>
		<a
				href="https://rogerdudler.github.io/git-guide/files/git_cheat_sheet.pdf"
		>Git Cheat Sheet</a
		>
	</li>
	<li><a href="https://java.algorithmexamples.com/">Algorithms</a></li>
	<li>
		<a href="https://colorhunt.co/palettes/popular"
		>Color Hunt (find themes)</a
		>
	</li>
	<li>
		<a href="https://color.adobe.com/create/color-wheel">Adobe color</a>
	</li>
	<li>
		<a href="https://www.radix-ui.com/colors">Radix (learn this)</a>
	</li>
	<li>
		<a href="https://coolors.co/a7c6da-000000-274690-fcfc62-a33b20"
		>Color Theme Generator</a
		>
	</li>
	<li><a href="https://fontofweb.com/">Steal font</a></li>
	<li><a href="https://tablericons.com/">Get SVGs</a></li>
</ul>