:root {
	--primary-text: #dcdcdc;
	--blue-500: #2196f3;
}

body {
	background: #222831;
	color: var(--primary-text);
	text-shadow: 0 1px 0 black;
}
div.nav {
	border-right: solid var(--primary-text);
}
header::after {
	background: #222831;
	color: var(--primary-text);
}
header nav {
	border-bottom: solid var(--primary-text);
}
footer {
	background-color: rgb(53, 99, 146, 0.1);
	color: #fafafa;
}
h1,
h2,
h3 {
	border-bottom: double var(--primary-text);
}
a {
	border-bottom: 1px solid #d7d7d7;
	color: #b8c6c8;
}
h1,
h1 a,
h2,
h2 a,
h3,
h3 a,
h4,
h4 a,
.faux-h1,
nav a,
.faux-h1 a {
	color: #d7f3f7;
}

.slider:after {
	position: absolute;
	content: "☀️️";
	font-size: 0.9em;
	text-shadow: none;
	left: 4.5px;
	text-align: center;
	line-height: 2em;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: var(--blue-500);
}

input:focus + .slider {
	box-shadow: 0 0 1px var(--blue-500);
}
