body {
	height: 100%;
	margin: 0 auto;
	max-width: 73%;
	min-width: 20em;
	line-height: 1.8;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
		Arial, sans-serif;
	font-size: 16px;
	background: #252525;
	color: #cacaca;
	text-shadow: 0 1px 0 black;
}
header {
	min-height: 6em;
	margin-top: 2vh;
	line-height: 1;
}
header > table {
	margin-bottom: -0.8%;
	width: 100%;
	text-align: left;
	bottom: 0;
}
header th {
	font-weight: normal;
	border-right: solid #999999;
	padding-right: 1em;
	width: 50%;
	min-width: 9.5em;
}
header th,
header td {
	border-bottom: solid #999999;
}
header th::after {
	content: "❃";
	background: #252525;
	color: #999999;
	position: relative;
	padding: 0 4px;
	left: calc(100% + 0.5em);
	top: 0.5em;
}
header th p {
	margin-bottom: 0;
}
nav li {
	list-style-type: none;
	display: inline;
	padding: 0;
	margin-right: 2em;
	white-space: nowrap;
	line-height: 1.4;
}
nav {
	margin-left: 10%;
}
main {
	min-height: calc(100vh - 9em);
	margin: 2em 0 -3em;
}
#push {
	height: 3em;
}
main p,
main tr,
ul {
	margin-bottom: 0;
	margin-top: 0;
}
footer {
	text-align: center;
	position: absolute;
	left: 0;
	line-height: 1;
	height: 3em;
	width: 100vw;
	min-width: 100%;
	background-color: rgb(53, 99, 146, 0.1);
	color: #fafafa;
}
footer > p {
	margin: 0;
	padding: 1em 0;
}
ul,
li {
	padding-left: 10px;
}
h1 {
	margin: 1em 0;
	border-bottom: double #999999;
	padding-bottom: 0.2em;
}
h2 {
	margin: 0 0 0.3em;
	border-bottom: double #999999;
	padding-bottom: 0.1em;
	padding-right: 0.5em;
	display: inline-block;
}
h1,
h2,
h3,
h4,
.faux-h1 {
	line-height: 1;
}
.faux-h1 {
	color: #989898;
	font-size: 2em;
	font-weight: bold;
}
a {
	border-bottom: 1px solid #d7d7d7;
	color: #989898;
	text-decoration: none;
}
a:hover {
	border-bottom: 0;
}
.download:hover {
	height: 1.25em;
	min-width: 1.25em;
	left: -0.125em;
	bottom: -0.125em;
	margin-top: -0.25em;
}
hr {
	border: none;
	margin: 0;
	border-top: 3px double #999999;
	color: #999999;
	overflow: visible;
	text-align: center;
	height: 10px;
}
hr:after {
	content: "❃";
	background: #252525;
	color: #999999;
	padding: 0 4px;
	position: relative;
	top: -16px;
}
