:root {
	--primary-text: #999999;
}
body {
	background: #252525;
	color: #cacaca;
	text-shadow: 0 1px 0 black;
}
div.nav {
	border-right: solid var(--primary-text);
}
header::after {
	background: #252525;
	color: var(--primary-text);
}
header nav {
	border-bottom: solid var(--primary-text);
}
footer {
	background-color: rgb(53, 99, 146, 0.1);
	color: #fafafa;
}
h1,
h2,
h3 {
	border-bottom: double #dcdcdc;
}
a {
	border-bottom: 1px solid #d7d7d7;
	color: #989898;
}
.slider:after {
	position: absolute;
	content: "🌛";
	font-size: 0.9em;
	text-shadow: none;
	left: 4.5px;
	text-align: center;
	line-height: 2em;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}
