body {
	height: 100%;
	margin: 0 auto;
	max-width: 73%;
	line-height: 1.8;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
	Arial, sans-serif;
	font-size: 16px;
	background: #252525;
	color: #cacaca;
	text-shadow: 0 1px 0 black;
}
header {
	min-height: 12vh;
	margin-top: 2vh;
	line-height: 1;
}
header > hr {
	margin-top: -0.3%;
	margin-bottom: 0;
	width: 25%;
	min-width: 16em;
	height: 0;
}
header > hr:after {
	top: -10px;
}
header th{
	border-right: solid;
	padding-right: 3%;
	width: 40%;
	min-width: 9.5em;
}
header > table{
	margin-bottom: -.8%;
	width: 100%;
	text-align: left;
	bottom: 0;
}
nav li {
	list-style-type: none;
	display: inline;
	padding: 0;
	margin-right: 2em;
	white-space: nowrap;
	line-height: 1.4;
}
main {
	min-height: 83vh;
	margin: 2vh 0 -6vh;
}
#push {
	height: 5vh;
}
main p,
main tr,
ul {
	margin-bottom: 0;
	margin-top: 0;
}
footer {
	display: flex;
	justify-content: center;
	position: absolute;
	left: 0;
	padding: 0.5vh 0;
	line-height: 0;
	margin: 1% 0 0;
	min-height: 5vh;
	width: 100vw;
	background-color: rgb(53, 99, 146, 0.1);
	color: #fafafa;
}
ul,
li {
	padding-left: 10px;
}
h1,
h2,
h3,
h4 {
	line-height: 1;
	margin: 5px auto;
}
a {
	border-bottom: 1px solid #d7d7d7;
	color: #989898;
	text-decoration: none;
}
a:hover {
	border-bottom: 0;
}
hr {
	border: none;
	margin: 0;
	border-top: 3px double #999999;
	color: #999999;
	overflow: visible;
	text-align: center;
	height: 10px;
}
hr:after {
	content: "❃";
	background: #252525;
	color: #999999;
	padding: 0 4px;
	position: relative;
	top: -16px;
}