body {
	max-width: 90%;

	.container {
		display: flex;
		border: solid;
		padding: 20px;
		aspect-ratio: 54/25;
		min-height: 25em;
		align-items: center;
		position: relative;

		p,
		li {
			font-size: 3em;
		}

		.heading {
			width: 65%;
			border-right: solid;
			padding-right: 1em;
			padding-left: 1em;

			h1 {
				font-size: 7em;
				border: none;
				margin: 0 auto 5px;
				position: relative;
				z-index: 1;
			}

			p {
				margin-top: 0.5em;
				line-height: normal;
			}
		}
	}

	nav {
		margin-left: 30px;
		position: relative;
		z-index: 1;

		ul {
			display: inline-block;
			padding: 0;

			li {
				text-align: left;
			}
		}
	}

	h1 {
		margin: 1em 0;
		padding-bottom: 0.2em;
	}

	h2 {
		margin: 0 0 0.3em;
		padding-bottom: 0.1em;
		padding-right: 0.5em;
		display: inline-block;
	}

	main {
		position: relative;

		> section {
			margin: 2vh auto;
			padding: 1px 10%; // prevent collapse
			min-height: 96vh;
			border-radius: 2em;
			transition: box-shadow 0.6s;

			&#front {
				display: flex;
				align-items: center;
				justify-content: center;

				#mobile-home-img {
					position: absolute;
					left: 45%;
					bottom: 45%;
					z-index: 0;

					img {
						width: 15vw;
						max-width: 300px;
						height: auto;
						border-radius: 100%;
					}

					&::after {
						content: "";
						display: inline-block;
						position: absolute;
						right: -0.5vw;
						top: -0.45vw;
						width: 16vw;
						max-width: 360px;
						height: auto;
						aspect-ratio: 216/237;
						border-radius: 100%;
					}
				}
			}

			&#stuff-i-like {
				section {
					margin-bottom: 15px;

					h2 {
						padding-bottom: 2px;
					}
				}

				span.context {
					font-size: 10px;

					&::before {
						content: "(";
					}

					&::after {
						content: ")";
					}
				}
			}

			&#about-me {
				padding-bottom: 2em;
			}

			&#resume-sec {
				h2,
				h3 {
					border: none !important;
					margin: 5px auto 0;
					padding-bottom: 0;
				}

				p,
				tr {
					line-height: 1.6;
				}

				em {
					font-style: normal;
					font-weight: bold;
				}

				#resume {
					border: solid;
					padding: 1.5em;
					margin-bottom: 3em;

					hr {
						height: 0;
						margin-top: -0.25em;
					}

					table {
						width: 100%;
					}

					td:nth-child(2) {
						font-size: 0.9em;
						text-align: right;
					}

					td:nth-child(1) {
						text-align: left;
					}
				}

				.download-resume {
					width: 1em;
					height: auto;
					bottom: -0.1em;
					position: relative;

					&:hover {
						height: 1.25em;
						min-width: 1.25em;
						left: -0.125em;
						bottom: -0.125em;
						margin-top: -0.25em;
					}
				}

				#activities ul {
					margin-left: 0.5em;
				}

				#honours li {
					font-style: italic;

					li {
						font-weight: normal;
						font-size: 1rem;
						list-style: circle inside;
					}
				}

				#honours > ul {
					margin-top: 0.3em;
					padding-left: 0;
				}

				//tbody#education-body tr {
				//	line-height: 1.2;
				//
				//	&:nth-child(n + 2) {
				//		text-indent: 2em;
				//	}
				//}
				li {
					line-height: 1.5;
				}

				.faux-h1 {
					font-size: 2em;
					line-height: 1;
					margin: 5px auto;
					font-weight: bold;
				}

				.resume-header {
					text-align: center;
					margin: 5px 0 15px;
				}

				div {
					&.contact {
						justify-content: space-evenly;
						flex-wrap: wrap;
					}

					> a {
						flex: 0 1 10em;
					}
				}

				.subheading {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					line-height: 1.5;

					> *:nth-child(2) {
						text-align: right;
					}

					h3 {
						margin: 8px 0 4px;
					}
				}

				//.sub-education {
				//	font-style: italic;
				//}
			}
		}
	}

	section#socials,
	.color-switch {
		position: absolute;
		right: 0;
		top: -2.5em;
	}

	section#socials {
		width: 10em;
		display: flex;
		justify-content: space-evenly;

		> a {
			border: none;

			> img {
				border-radius: 20%;
				filter: invert(100%);
				width: 2em;
			}
		}
	}

	@media screen and (max-width: 1025px) {
		nav {
			margin: 0;
			width: 90%;
			padding: 20px 0;
			flex-direction: column;

			ul {
				li {
					text-align: center;
				}
			}
		}

		.container {
			justify-content: center;
			flex-direction: column;
			aspect-ratio: auto;
			min-width: 0;
			width: 90vw;
			flex-basis: 400% !important;
			padding: 10px;
			margin: 0;

			p,
			li {
				font-size: 1rem;
			}

			nav ul {
				margin: 0 !important;
				display: flex !important;
				justify-content: space-between !important;
				gap: 0;
			}
			.heading {
				display: flex;
				flex-direction: column;
				border: none;
				width: auto;
				text-align: center;

				h1 {
					font-size: 4rem;
				}
			}
		}

		nav::before {
			content: "";
			display: block;
			border-bottom: solid;
			margin-bottom: 20px;
		}

		section#front {
			li {
				display: inline-block;
				margin: 0 !important;
			}
		}

		#mobile-home-img {
			display: flex !important;
			justify-content: center !important;
			position: relative !important;
			top: 0 !important;
			left: 0 !important;
			flex-grow: 1 !important;
			border: none !important;
			width: 100% !important;

			img {
				left: 10vw !important;
				position: static !important;
				top: 0 !important;
				width: 300px !important;
			}

			&::after {
				width: 300px !important;
				display: inline-block !important;
				position: absolute !important;
				flex-grow: 1 !important;
				right: calc(calc(100% - 300px) / 2) !important;
				top: 0 !important;
				//border: solid !important;
			}

			img {
				width: 300px !important;
			}
		}
	}
}
