header {
	min-height: 1px;
	/* 1px height to prevent margin collapse */
}
header::after {
	display: none;
}
nav ul {
	display: inline-block;
	padding: 0;
}
nav {
	margin-left: 30px;
	position: relative;
	z-index: 1;
}
.heading {
	width: 65%;
	border-right: solid;
	padding-right: 1em;
	padding-left: 1em;
}
.heading h1 {
	font-size: 7em;
	border: none;
	margin: 5px auto;
	position: relative;
	z-index: 1;
}
.heading p {
	margin-top: 0.5em;
	line-height: normal;
}
.container p,
.container li {
	font-size: 3em;
}
.container {
	display: flex;
	border: solid;
	padding: 20px;
	aspect-ratio: 54/25;
	min-height: 25em;
	align-items: center;
}
#mobile-home-img {
	position: absolute;
	left: 42%;
	bottom: 45%;
	z-index: 0;
}
#mobile-home-img img {
	width: 20vw;
	height: auto;
}
main {
	display: flex;
	align-items: center;
	justify-content: center;
}
body {
	max-width: 85%;
}

@media screen and (max-width: 930px) {
	.container {
		justify-content: center;
		flex-direction: column;
		aspect-ratio: auto;
		min-width: 0;
		width: 90vw;
		flex-basis: 400% !important;
		padding: 10px;
		margin: 0;
		overflow: hidden;
	}
	.heading h1 {
		font-size: 4rem;
	}
	.container p,
	.container li {
		font-size: 1rem;
	}
	.heading {
		display: flex;
		flex-direction: column;
		border: none;
		width: auto;
		text-align: center;
	}
	nav::before {
		content: "";
		display: block;
		/* width: 90%; */
		border-bottom: solid;
		margin-bottom: 20px;
	}
	li {
		display: inline-block;
		margin: 0 !important;
	}
	nav {
		margin: 0;
		width: 90%;
		padding: 20px 0;
	}
	ul {
		margin: 0 !important;
		display: flex !important;
		justify-content: space-between !important;
	}
	#mobile-home-img {
		display: inline-block;
		position: static;
		flex-grow: 1 !important;
	}
	#mobile-home-img img {
		width: 300px;
		height: 300px;
	}
}
