h2,
h3 {
	border: none !important;
	margin: 5px auto 0;
	padding-bottom: 0;
}
main p,
main tr {
	line-height: 1.6;
}
#resume {
	border: solid;
	padding: 1.5em;
	margin-bottom: 2vh;
}
#resume hr {
	height: 0;
	margin-top: -0.25em;
}
#resume table {
	width: 100%;
}
#resume td:nth-child(2) {
	font-size: 0.9em;
	text-align: right;
}
#resume td:nth-child(1) {
	text-align: left;
}
.download-resume {
	width: 1em;
	height: auto;
	bottom: -0.1em;
	position: relative;
}
.download-resume:hover {
	height: 1.25em;
	min-width: 1.25em;
	left: -0.125em;
	bottom: -0.125em;
	margin-top: -0.25em;
}
#activities ul {
	margin-left: 0.5em;
}
#honours li li {
	list-style: inside;
	font-weight: normal;
	font-size: 1rem;
	list-style: circle;
}
#honours li {
	font-weight: bold;
	font-size: 1.05em;
	list-style-type: none;
}
#honours > ul {
	margin-top: 0.3em;
	padding-left: 0;
}

tbody#education-body tr {
	line-height: 1.2;
}
tbody#education-body tr:nth-child(n + 2) {
	text-indent: 2em;
}
li {
	line-height: 1.5;
}
.faux-h1 {
	font-size: 2em;
	line-height: 1;
	margin: 5px auto;
	font-weight: bold;
}
.resume-header {
	text-align: center;
	margin: 5px 0 15px;
}

div.contact {
	justify-content: space-evenly;
	flex-wrap: wrap;
}
div.contact > a {
	flex: 0 1 10em;
}
.subheading {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	line-height: 1.5;
}
.subheading > *:nth-child(2) {
	text-align: right;
}
.subheading h3 {
	margin: 8px 0 4px;
}
.sub-education {
	font-style: italic;
}

@media print {
	header,
	footer,
	h1,
	.color-switch {
		display: none;
	}
	* {
		color: black !important;
		text-shadow: none;
	}
	*::after {
		color: black !important;
	}
	hr {
		border-top: 3px double black !important;
	}
	a {
		color: -webkit-link !important;
	}
	#resume {
		display: block;
		width: 100vw;
		margin: 0;
	}
	body {
		width: 100vw !important;
		margin: 0;
	}
}
